<div class="login">
  <form action="/user" method="post">
    <input type="text" name="name" placeholder="Enter your username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login">
  </form>
  <a href="/signup">Don't have an account? THEN GET ONE!!</a>
</div>
