<div class="signup">
  <form action="/create_user" method="post">
    <input type="text" name="user[name]" placeholder="Please enter a username">
    <input type="password" name="user[password]" placeholder="Create a password">
    <input type="submit" value="Won't you join us??"><br>
  </form>
  <a href="/">Back Home</a>
</div>
